body{
  background-color: #FFFFFF;
  background-image:
    url(background.jpg);
    /* margin-left: 40px; */
    font-family: helvetica, Arial, "Lucida Grande", sans-serif;
    color:white;
    letter-spacing: -4px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
  }
    
    
div#logo{
    margin-top: 600px;
    margin-left: 320px;
    font-family: "Source Sans Pro";  
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 3px;
    }


a{
	text-decoration: none;
 } 

div#content{
  height: 300px;
  margin-left: 40px;
  padding-left: 40px;
 }

